In [6]:
import pandas as pd

train_query = pd.read_csv('../data/train/train.query.tsv', sep='\t', header=None)
train_reply = pd.read_csv('../data/train/train.reply.tsv', sep='\t', header=None)

In [7]:
train_reply.head(10)

   0  1                            2  3
0  0  0  杭州市采荷第一小学钱江苑校区，杭州市钱江新城实验学校。  1
1  0  1                           是的  0
2  0  2                         这是5楼  0
3  1  0                   因为公积金贷款贷的少  0
4  1  1                           是呢  0
5  1  2                  这套一楼带院的，您看看  0
6  1  3                     房本都是五年外的  0
7  1  4                    好的??，您先看下  0
8  2  0                   您是首套还是二套呢？  0
9  2  1                   所有费用下来654万  1

In [8]:
train_query.head(10)

   0                   1
0  0            采荷一小是分校吧
1  1                毛坯吗？
2  2  你们的佣金费大约是多少和契税是多少。
3  3             靠近川沙路嘛？
4  4      这套房源价格还有优惠空间吗？
5  5              这个税多少钱
6  6      这套房源价格还有优惠空间么？
7  7         有房子可以带我看看吗？
8  8             光线不好，是吗
9  9                几期的？