In [5]:
import pandas as pd

train_query = pd.read_csv('../data/train/train.query.tsv', sep='\t', header=None, index_col=0)
train_reply = pd.read_csv('../data/train/train.reply.tsv', sep='\t', header=None)

In [6]:
train_reply.head(10)

   0  1                            2  3
0  0  0  杭州市采荷第一小学钱江苑校区，杭州市钱江新城实验学校。  1
1  0  1                           是的  0
2  0  2                         这是5楼  0
3  1  0                   因为公积金贷款贷的少  0
4  1  1                           是呢  0
5  1  2                  这套一楼带院的，您看看  0
6  1  3                     房本都是五年外的  0
7  1  4                    好的??，您先看下  0
8  2  0                   您是首套还是二套呢？  0
9  2  1                   所有费用下来654万  1